
.h1{
    color: #2BA837;
    margin-top: -29rem;
    padding-left: 2rem;
    font-size: 3rem;
}
.p{
    color: black;
    margin: 1rem;
    font-size: 1.5rem;
    padding-right: 40rem;
    padding-left: 2rem;
}
.im{
    margin-top: 16rem;
    width: 100%;
    height: auto;
}